@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');
.not-found{
    height: 150vh;
    background: #000000;
    text-align: center;
    color: #E0E0E0;
    font-family: 'Fira Mono', monospace;
}
.not-found h1{
    font-size: 2.5rem;
    font-family: 'Permanent Marker', cursive;
}
.not-found div{
    transform-style: preserve-3d;
}
.not-found svg{
    /* width: clamp(300px , 70% , 600px);
    height: 500px;  */
    display: inline;
}
.not-found #rocket{
    
    transform: translateY(750px);
   
    animation: launch 1.5s ease-out forwards;
}

@keyframes launch {
    from {
        transform: translateY(750px);
    }
    to{
        perspective: 500px;
        transform: translateY(0px); 
    }
}
.not-found #stars {
    animation: twinkling 1.2s linear ;
}
@keyframes twinkling {

    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.text{
    opacity: 0;
    animation:appear 1s ease-in forwards;
    animation-delay: 1.2s;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.not-found a{
    color:#F66947;
    text-decoration: none;
}